body, html {
height: 100%;
}
.bg {
background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}